@model B_Layer.Models.EmployeeVM

@{
    ViewData["Title"] = "Creat";
    Layout = "~/Views/Layout/M_Layout.cshtml";
}

<center>
    <h1 class="mb-5">Create New Employee</h1>



    <div class="w-50 mx-auto py-5 text-left">

        <form asp-controller="Employee" asp-action="Creat" class="form-group" enctype="multipart/form-data">

            <label>Employee Name</label>
            <input class="form-control" asp-for="EmployeeName" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span>

            <br />


            <label>Salary</label>
            <input class="form-control" asp-for="Salary" />
            <span asp-validation-for="Salary" class="text-danger"></span>
            <br />


            <label>Notes</label>
            <textarea asp-for="Notes" class="form-control"></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
            <br />


            <label>HireDate</label>
            <input type="date" asp-for="HireDate" class="form-control">
            <span asp-validation-for="HireDate" class="text-danger"></span>

            <br />
            <label>DepartmentId</label>
            <select asp-for="DepartmentId" class="form-control" asp-items="(SelectList)ViewBag.departmentList">
                <option>Select Department</option>
            </select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>


            <div class="d-flex mt-4">
                <select id="CountryL" class="form-control mr-2" asp-items="(SelectList)ViewBag.CountryList">
                    <option>Select Country</option>
                </select>


                <select id="cityList" class="form-control mr-2">
                    <option>Select City</option>
                </select>


                <select asp-for="DistrictId" id="DistrictList" class="form-control">
                    <option>Select District</option>
                </select>
            </div>

            <div class="input-group my-5">
                <div class="custom-file">
                    <input asp-for="Photo" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose photo</label>
                </div>
            </div>

            <br />
            <div class="form-check">
                <input class="form-check-input" asp-for="IsActive" type="checkbox" id="gridCheck">
                <label class="form-check-label">IsActive</label>
            </div>

            <br />
            <br />
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>

</center>

@section Validation{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

@section Ajax {
    
    <script>

    $(function(){
        $("#CountryL").change(()=>{
        $("#cityList").empty();
        $("#cityList").append("<option>Select City</option>");

            let counteryId = $("#CountryL").val();

            $.ajax({
            type : "POST",
            url : "/Employee/GetCity",
            data : {CountryId : counteryId},
            success : (res) => {
            $.each(res , function(i , e){
            $("#cityList").append("<option value='"+e.Id+"'>"+e.CityName+"</option>")
            })
            }
            })
        })


            $("#cityList").change(() => {
                $("#DistrictList").empty();
                $("#DistrictList").append("<option>Select District</option>")
                let mycityid = $("#cityList").val();


                $.ajax({
                    type : "POST",
                    url : "/Employee/GetDistrict",
                    data : {CityId:mycityid},
                    success : (res)=>{
                        $.each(res , (i,e)=>{
                          $("#DistrictList").append("<option value='"+e.Id+"'>"+e.DistrictName+"</option>")
                        })
                    }
                })

            })








    })
        
    </script>
}
