@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Password</title>
      <!-- Bootstrap core CSS-->
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="~/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">

    <div class="container mt-5 py-5 bg-light rounded">
        <h2>If You Have An Account , We Sent Reset Password Link To Your Email , Please Check Your Mail Box....</h2>
        <a asp-controller="Account" asp-action="Login" class="btn btn-info mt-4" style="color:white;font-weight:bold">Sign In</a>
    </div>




      <!-- Bootstrap core JavaScript-->
  <script src="~/vendor/jquery/jquery.min.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
